[user]
	name = Thomas Swift
	email = tswift@u.rochester.edu
[alias]
	st = status
	s = status -sb ;short status 
	c = commit -m
	ca = commit -am ;commit all 
	ps = push
	pl = pull
	b = branch
	ba = branch -a
	co = checkout
	d = diff
	r = remote
	ra = remote add
	rr = remote rm
	cl = clone
	rmc = rm --cached
	l = log --graph
	lp = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	wc = whatchanged --graph
	m = merge
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = red
[credential]
	helper = cache --timeout=3600
[url "git@github.com:"] ;ssh 
	insteadOf = gh:
[url "https://github.com/"] ;https 
	insteadOf = ghs:
[url "git@bitbucket.org:"] ;ssh 
	insteadOf = bb:
